-if @tips.count > 0
	.top-border
		%table.table.table-condensed.white-background.border
			-@tips.each do |tip|
				%tr
					%td.middle
						=tip.meeting_name
					%td.middle
						="#{tip.london_time} #{tip.time_to}"
					%td.middle
						.badge.badge-sm.red-background
							="#{tip.order}"
					%td.middle
						=image_tag src="https://content-cache.cdnbf.net/feeds_images/Horses/SilkColours/#{tip.image}"
						%span.dark-grey.bold=tip.name
					%td.middle
						=link_to "X", tip_path(tip, current_race: @current_race.id), method: :delete, remote: true
			=render '/shared/modal'

:javascript
	$(document).ready(function() {
		var clip = new ZeroClipboard($("#d_clip_button"))
	}); 